// html {
//     scroll-behavior: smooth;
// }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#header {
    background: url(../images/hotel-background.jpg) bottom center/cover no-repeat;
    min-height: 750px;
    position: relative; 
}

#header #overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
#header .index {
    z-index: 2; 
}

#history #p1 {
    font-family: 'Lato', Arial, sans-serif; 
}
  
#history #p2 {
    font-family: 'Raleway', Impact, serif; 
}

.mod{
    width: 100%;
}
